.quacker-app {
    display: flex;
}


.quacker-nav {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
}

.quack {
    position: relative;
    z-index: 800;
}

.quack-text{
    position: relative;
    z-index: 800;
}


.quack-form-modal {
    min-width: 600px;
    background: white;
    border-radius: 4px;
    padding:1rem;
}

.quack-form-feed {

}

.quack-form-text {
    border: 1px solid lightgrey;

}

.quack-save-btn {
    background-color: rgb(29, 161, 242);
    min-width: calc(62.79px);
    color: white;
    font-family: sans-serif;
    border:none;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.modal {
    /* position: absolute; */
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mention-link {
    position: relative;
    z-index: 2000;
}

.new-quack-btn {
    background: rgb(29, 161, 242);
    color: white;
    font-family: sans-serif;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
}

.nav-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.nav-link-content {
    display: flex;
    padding: .5rem;
    color: black;
    font-weight: bolder;
    font-size: large;
    border-radius: 40%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    width: fit-content;
    text-decoration: none;
    &:hover {
        color: #3291DA;
        background: #EBF5FD;
        text-decoration: none;
    }
}




.middle-content {
    border: 0 solid black;
    box-sizing: border-box;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
}


.user-search-results {
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, 
                rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    background: white;
}

.user-search-card {
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 5px;
    &:hover {
        background: lightgrey;
    }
}

.user-search-data {
    display: flex;
    flex-direction: column;
    
}

.user-search-name {
    font-weight: bold;
}

.user-search-username {

}

.user-search-avatar {
    border-radius: 50%;
    overflow: hidden;
}
.user-search-avatar > img {
    width: 3rem;
}

.pingas {
    color: red;
}